Repository kookmin-sw/capstone-2025-24, pull requests merged in 2025-03, with the labels that each got.

#11 [Backend] init: 백엔드 서버 초기 설정
  backend/.gitattributes
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/example/backend/BackendApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/example/backend/BackendApplicationTests.java
Labels: :tada: INIT

#16 [Backend] init: GitHub Action CI 구축
  .github/workflows/backend-ci.yml
Labels: :tada: INIT, :rocket: BACKEND

#17 [Frontend/Backend/AI] user 이름 기반 라벨링 자동화
  .github/labeler.yml
  .github/workflows/label.yml
Labels: :sparkles: FEAT, :nail_care: FRONTEND, :rocket: BACKEND, :page_facing_up: AI

#13 [Frontend] init: 프론트엔드 프로젝트 초기 세팅
  .github/workflows/frontend-ci.yml
  frontend/.gitignore
  frontend/.prettierrc
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/components/.gitkeep
  frontend/src/constants/.gitkeep
  frontend/src/constants/EventCategory.ts
  frontend/src/hooks/.gitkeep
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/pages/MonitorPage.tsx
  frontend/src/routes/Router.tsx
  frontend/src/stores/.gitkeep
  frontend/src/styles/.gitkeep
  frontend/src/styles/GlobalStyle.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: :tada: INIT

#22 [Backend] init: 프로젝트 폴더 구조 설정
  backend/.gitignore
  backend/src/main/java/com/example/backend/analysis/controller/.gitkeep
  backend/src/main/java/com/example/backend/analysis/dto/.gitkeep
  backend/src/main/java/com/example/backend/analysis/repository/.gitkeep
  backend/src/main/java/com/example/backend/analysis/service/.gitkeep
  backend/src/main/java/com/example/backend/dashboard/controller/.gitkeep
  backend/src/main/java/com/example/backend/dashboard/dto/.gitkeep
  backend/src/main/java/com/example/backend/dashboard/repository/.gitkeep
  backend/src/main/java/com/example/backend/dashboard/service/.gitkeep
  backend/src/main/java/com/example/backend/search/controller/.gitkeep
  backend/src/main/java/com/example/backend/search/dto/.gitkeep
  backend/src/main/java/com/example/backend/search/repository/.gitkeep
  backend/src/main/java/com/example/backend/search/service/.gitkeep
  backend/src/main/java/com/example/backend/user/controller/.gitkeep
  backend/src/main/java/com/example/backend/user/dto/.gitkeep
  backend/src/main/java/com/example/backend/user/repository/.gitkeep
  backend/src/main/java/com/example/backend/user/service/.gitkeep
Labels: :tada: INIT, :rocket: BACKEND

#26 [Backend] init: postgreSQL 연결
  .github/workflows/backend-ci.yml
  backend/build.gradle
  backend/src/main/resources/application.properties
Labels: :tada: INIT, :rocket: BACKEND

#27 [Frontend] feat: 알림 리스트 구현
  frontend/package.json
  frontend/src/assets/icons/folderIcon.svg
  frontend/src/components/Monitoring/AlertList/AlertItem.tsx
  frontend/src/components/Monitoring/AlertList/AlertList.tsx
  frontend/src/components/Monitoring/AlertList/EmptyView.tsx
  frontend/src/components/Monitoring/AlertList/style.ts
  frontend/src/components/common/ToolTip/ToolTip.tsx
  frontend/src/components/common/ToolTip/style.ts
  frontend/src/index.css
  frontend/src/mocks/AlertListData.tsx
  frontend/src/styles/GlobalStyle.ts
  frontend/yarn.lock
Labels: :sparkles: FEAT, :nail_care: FRONTEND

#31 [Frontend] chore: import 파일 경로 수정
  frontend/src/components/Monitoring/AlertList/EmptyView.tsx
Labels: :broom: CHORE, :nail_care: FRONTEND

#38 [Backend] feat: 메인 페이지 - 출동 사건 관련 API
  backend/build.gradle
  backend/src/main/java/com/example/backend/dashboard/controller/.gitkeep
  backend/src/main/java/com/example/backend/dashboard/controller/DashboardController.java
  backend/src/main/java/com/example/backend/dashboard/domain/CaseEntity.java
  backend/src/main/java/com/example/backend/dashboard/dto/.gitkeep
  backend/src/main/java/com/example/backend/dashboard/dto/CaseRequest.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseResponse.java
  backend/src/main/java/com/example/backend/dashboard/dto/SurveyRequest.java
  backend/src/main/java/com/example/backend/dashboard/dto/SurveyResponse.java
  backend/src/main/java/com/example/backend/dashboard/repository/.gitkeep
  backend/src/main/java/com/example/backend/dashboard/repository/CaseRepository.java
  backend/src/main/java/com/example/backend/dashboard/service/.gitkeep
  backend/src/main/java/com/example/backend/dashboard/service/DashboardService.java
Labels: :sparkles: FEAT, :rocket: BACKEND

#37 [Backend] feat: User API
  backend/build.gradle
  backend/src/main/java/com/example/backend/user/controller/.gitkeep
  backend/src/main/java/com/example/backend/user/controller/UserController.java
  backend/src/main/java/com/example/backend/user/domain/UserEntity.java
  backend/src/main/java/com/example/backend/user/dto/.gitkeep
  backend/src/main/java/com/example/backend/user/dto/UserRequestDto.java
  backend/src/main/java/com/example/backend/user/dto/UserResponseDto.java
  backend/src/main/java/com/example/backend/user/repository/.gitkeep
  backend/src/main/java/com/example/backend/user/repository/UserRepository.java
  backend/src/main/java/com/example/backend/user/service/.gitkeep
  backend/src/main/java/com/example/backend/user/service/UserService.java
Labels: :sparkles: FEAT, :rocket: BACKEND

#34 [Frontend] feat: 영상 컴포넌트 생성
  frontend/package.json
  frontend/src/components/common/ToolTip/style.ts
  frontend/src/components/common/VideoComponent/VideoComponent.tsx
  frontend/src/components/common/VideoComponent/style.ts
  frontend/src/pages/TestPage.tsx
  frontend/yarn.lock
Labels: :sparkles: FEAT, :nail_care: FRONTEND

#42 [Backend] fix: CaseEntity의 관계 명확화 및 데이터 타입 개선
  backend/src/main/java/com/example/backend/dashboard/domain/CaseEntity.java
  backend/src/main/java/com/example/backend/dashboard/domain/CctvEntity.java
  backend/src/main/java/com/example/backend/dashboard/domain/OfficeEntity.java
  backend/src/main/java/com/example/backend/dashboard/domain/PoliceEntity.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseRequest.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseResponse.java
  backend/src/main/java/com/example/backend/dashboard/dto/SurveyRequest.java
  backend/src/main/java/com/example/backend/dashboard/dto/SurveyResponse.java
  backend/src/main/java/com/example/backend/dashboard/service/DashboardService.java
Labels: :bug: BUG, :rocket: BACKEND

#46 [Backend] feat: 메인 페이지 User Session 적용
  backend/src/main/java/com/example/backend/dashboard/controller/DashboardController.java
  backend/src/main/java/com/example/backend/dashboard/domain/CaseEntity.java
  backend/src/main/java/com/example/backend/dashboard/domain/CctvEntity.java
  backend/src/main/java/com/example/backend/dashboard/domain/PoliceEntity.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseResponse.java
  backend/src/main/java/com/example/backend/dashboard/repository/CaseRepository.java
  backend/src/main/java/com/example/backend/dashboard/service/DashboardService.java
Labels: :sparkles: FEAT, :rocket: BACKEND

#44 [Frontend] feat: 출동중인 사건 구현
  frontend/package.json
  frontend/src/assets/icons/cctvBlueIcon.svg
  frontend/src/assets/icons/cctvIcon.svg
  frontend/src/assets/images/policerEmpty.png
  frontend/src/assets/lottie/checkAnimation.json
  frontend/src/components/.gitkeep
  frontend/src/components/Monitoring/AlertList/AlertList.tsx
  frontend/src/components/Monitoring/AlertList/style.ts
  frontend/src/components/Monitoring/InProgress/CategorySelectCard.tsx
  frontend/src/components/Monitoring/InProgress/FeedbackCard.tsx
  frontend/src/components/Monitoring/InProgress/InProgress.style.ts
  frontend/src/components/Monitoring/InProgress/InProgress.tsx
  frontend/src/components/Monitoring/InProgress/IncidentCard.tsx
  frontend/src/components/Monitoring/InProgress/ResolvedCard.tsx
  frontend/src/components/Monitoring/InProgress/VideoModal/VideoModal.style.ts
  frontend/src/components/Monitoring/InProgress/VideoModal/VideoModal.tsx
  frontend/src/components/Monitoring/InfoSection/InfoBox.tsx
  frontend/src/components/Monitoring/InfoSection/KakaoMap.tsx
  frontend/src/components/Monitoring/InfoSection/VideoBox.tsx
  frontend/src/components/Monitoring/InfoSection/style.ts
  frontend/src/constants/.gitkeep
  frontend/src/constants/EventCategory.ts
  frontend/src/mocks/AlertListData.tsx
  frontend/src/mocks/InProgressData.tsx
  frontend/src/pages/MonitoringPage.tsx
  frontend/src/pages/MonitoringPage/MonitoringPage.style.ts
  frontend/src/pages/MonitoringPage/MonitoringPage.tsx
  frontend/src/routes/Router.tsx
  frontend/src/styles/.gitkeep
  frontend/yarn.lock
Labels: :sparkles: FEAT, :nail_care: FRONTEND

#51 [Frontend] refactor: react-player video 태그로 변경
  frontend/package.json
  frontend/src/components/Monitoring/AlertList/AlertItem.tsx
  frontend/src/components/Monitoring/AlertModal/AlertModal.style.ts
  frontend/src/components/Monitoring/AlertModal/AlertModal.tsx
  frontend/src/components/Monitoring/InProgress/IncidentCard.tsx
  frontend/src/components/Monitoring/InProgress/VideoModal/VideoModal.tsx
  frontend/src/components/Monitoring/InfoSection/InfoSection.tsx
  frontend/src/components/common/VideoComponent/VideoComponent.tsx
  frontend/src/components/common/VideoComponent/style.ts
  frontend/src/hooks/useIsModalOpen.ts
  frontend/yarn.lock
Labels: :hammer: REFACTOR, :nail_care: FRONTEND

#49 [Backend] feat: 메인 페이지 - 알림 리스트 API
  backend/src/main/java/com/example/backend/dashboard/controller/AlarmListController.java
  backend/src/main/java/com/example/backend/dashboard/dto/AlarmResponse.java
  backend/src/main/java/com/example/backend/dashboard/repository/AlarmListRepository.java
  backend/src/main/java/com/example/backend/dashboard/service/AlarmListService.java
Labels: :sparkles: FEAT, :rocket: BACKEND

#45 [Backend] feat: 통계 페이지 관련 API 개발
  backend/src/main/java/com/example/backend/analysis/controller/.gitkeep
  backend/src/main/java/com/example/backend/analysis/controller/CaseStatsController.java
  backend/src/main/java/com/example/backend/analysis/domain/CaseStatsCategoryEntity.java
  backend/src/main/java/com/example/backend/analysis/domain/CaseStatsOverviewEntity.java
  backend/src/main/java/com/example/backend/analysis/domain/CctvEntity.java
  backend/src/main/java/com/example/backend/analysis/domain/OfficeEntity.java
  backend/src/main/java/com/example/backend/analysis/dto/.gitkeep
  backend/src/main/java/com/example/backend/analysis/dto/CaseStatsOverviewResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/CctvCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/DailyCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/HourlyCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/MonthlyCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/repository/.gitkeep
  backend/src/main/java/com/example/backend/analysis/repository/CaseStatsCategoryRepository.java
  backend/src/main/java/com/example/backend/analysis/repository/CaseStatsOverviewRepository.java
  backend/src/main/java/com/example/backend/analysis/service/.gitkeep
  backend/src/main/java/com/example/backend/analysis/service/CaseStatsService.java
Labels: :sparkles: FEAT, :rocket: BACKEND

#53 [Frontend] feat: 사건 기록 조회 페이지 구현
  frontend/package.json
  frontend/src/assets/icons/pinIcon.svg
  frontend/src/components/IncidentHistory/Filtering/DateFiltering.tsx
  frontend/src/components/IncidentHistory/Filtering/Filtering.style.ts
  frontend/src/components/IncidentHistory/Filtering/Filtering.tsx
  frontend/src/components/IncidentHistory/Filtering/SearchBar.tsx
  frontend/src/components/IncidentHistory/IncidentDetailsModal/IncidentDetailsModal.style.ts
  frontend/src/components/IncidentHistory/IncidentDetailsModal/IncidentDetailsModal.tsx
  frontend/src/components/IncidentHistory/IncidentDetailsModal/Information.tsx
  frontend/src/components/IncidentHistory/IncidentDetailsModal/Map.tsx
  frontend/src/components/IncidentHistory/IncidentDetailsModal/Memo.tsx
  frontend/src/components/IncidentHistory/IncidentDetailsModal/Video.tsx
  frontend/src/components/IncidentHistory/IncidentList/EmptyView.tsx
  frontend/src/components/IncidentHistory/IncidentList/IncidentList.style.ts
  frontend/src/components/IncidentHistory/IncidentList/IncidentList.tsx
  frontend/src/components/IncidentHistory/IncidentList/SortingDropDown.tsx
  frontend/src/components/IncidentHistory/style.ts
  frontend/src/components/Monitoring/AlertList/AlertItem.tsx
  frontend/src/components/Monitoring/AlertList/AlertList.tsx
  frontend/src/components/Monitoring/AlertList/style.ts
  frontend/src/components/common/CategoryDropDown/CategoryDropDown.style.ts
  frontend/src/components/common/CategoryDropDown/CategoryDropDown.tsx
  frontend/src/hooks/useOutsideClick.ts
  frontend/src/mocks/AlertListData.ts
  frontend/src/mocks/IncidentListData.ts
  frontend/src/pages/IncidentHistoryPage/IncidentHistoryPage.style.ts
  frontend/src/pages/IncidentHistoryPage/IncidentHistoryPage.tsx
  frontend/src/pages/MonitoringPage.tsx
  frontend/src/routes/Router.tsx
  frontend/src/styles/GlobalStyle.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: :sparkles: FEAT, :nail_care: FRONTEND

#52 [Frontend] feat: 2단계 알림 모달 구현 & 출동 중인 사건과 연동
  frontend/src/assets/icons/questionmark.svg
  frontend/src/components/Monitoring/AlertList/AlertItem.tsx
  frontend/src/components/Monitoring/AlertList/AlertList.tsx
  frontend/src/components/Monitoring/AlertList/style.ts
  frontend/src/components/Monitoring/AlertModal/AlertModal.style.ts
  frontend/src/components/Monitoring/AlertModal/AlertModal.tsx
  frontend/src/components/Monitoring/AlertModal/CategorySelectModal.tsx
  frontend/src/components/Monitoring/AlertModal/FeedbackModal.tsx
  frontend/src/components/Monitoring/AlertModal/IncidentModal.tsx
  frontend/src/components/Monitoring/AlertModal/SubmitModal.tsx
  frontend/src/components/Monitoring/InProgress/CategorySelectCard.tsx
  frontend/src/components/Monitoring/InProgress/FeedbackCard.tsx
  frontend/src/components/Monitoring/InProgress/InProgress.style.ts
  frontend/src/components/Monitoring/InProgress/InProgress.tsx
  frontend/src/components/Monitoring/InProgress/IncidentCard.tsx
  frontend/src/components/Monitoring/InProgress/ResolvedCard.tsx
  frontend/src/components/Monitoring/InProgress/VideoModal/VideoModal.tsx
  frontend/src/components/Monitoring/InfoSection/InfoSection.tsx
  frontend/src/components/Monitoring/InfoSection/KakaoMap.tsx
  frontend/src/components/common/VideoComponent/VideoComponent.tsx
  frontend/src/constants/EventCategory.ts
  frontend/src/hooks/.gitkeep
  frontend/src/hooks/useSelectCategory.ts
  frontend/src/mocks/AlertListData.tsx
  frontend/src/mocks/InProgressData.ts
  frontend/src/mocks/InProgressData.tsx
  frontend/src/stores/itemStore.ts
  frontend/src/types/alert.ts
Labels: :sparkles: FEAT, :nail_care: FRONTEND

#47 [Backend] feat: 기록 페이지 관련 API
  backend/src/main/java/com/example/backend/search/controller/.gitkeep
  backend/src/main/java/com/example/backend/search/controller/SearchController.java
  backend/src/main/java/com/example/backend/search/domain/CaseEntity.java
  backend/src/main/java/com/example/backend/search/domain/CctvEntity.java
  backend/src/main/java/com/example/backend/search/domain/OfficeEntity.java
  backend/src/main/java/com/example/backend/search/domain/PoliceEntity.java
  backend/src/main/java/com/example/backend/search/domain/SearchSpecification.java
  backend/src/main/java/com/example/backend/search/dto/.gitkeep
  backend/src/main/java/com/example/backend/search/dto/DetailRequest.java
  backend/src/main/java/com/example/backend/search/dto/DetailResponse.java
  backend/src/main/java/com/example/backend/search/dto/SearchRequest.java
  backend/src/main/java/com/example/backend/search/dto/SearchResponse.java
  backend/src/main/java/com/example/backend/search/dto/SearchResult.java
  backend/src/main/java/com/example/backend/search/repository/.gitkeep
  backend/src/main/java/com/example/backend/search/repository/CctvRepository.java
  backend/src/main/java/com/example/backend/search/repository/SearchRepository.java
  backend/src/main/java/com/example/backend/search/service/.gitkeep
  backend/src/main/java/com/example/backend/search/service/SearchService.java
  backend/src/main/java/com/example/backend/user/controller/UserController.java
  backend/src/main/java/com/example/backend/user/domain/UserEntity.java
  backend/src/main/java/com/example/backend/user/repository/UserRepository.java
Labels: :sparkles: FEAT, :rocket: BACKEND

#59 [Backend] fix: 지도용 장소별 사건 수 API 응답 수정
  backend/src/main/java/com/example/backend/analysis/controller/CaseStatsController.java
  backend/src/main/java/com/example/backend/analysis/domain/CctvEntity.java
  backend/src/main/java/com/example/backend/analysis/dto/LocationCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/MapCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/repository/CaseStatsCategoryRepository.java
  backend/src/main/java/com/example/backend/analysis/service/CaseStatsService.java
Labels: :bug: BUG, :rocket: BACKEND

#56 [Frontend] feat: 로그인 페이지 구현
  frontend/src/components/Login/Login.style.ts
  frontend/src/components/Login/LoginForm.tsx
  frontend/src/components/common/Sidebar/Sidebar.tsx
  frontend/src/pages/LoginPage/LoginPage.style.ts
  frontend/src/pages/LoginPage/LoginPage.tsx
  frontend/src/routes/Router.tsx
Labels: :sparkles: FEAT, :nail_care: FRONTEND

#58 [Frontend] fix: alias 오류 해결
  frontend/src/components/IncidentHistory/Filtering/DateFiltering.tsx
  frontend/src/components/IncidentHistory/Filtering/SearchBar.tsx
  frontend/src/components/IncidentHistory/IncidentList/IncidentList.tsx
  frontend/src/components/IncidentHistory/IncidentList/SortingDropDown.tsx
  frontend/src/components/Monitoring/AlertList/AlertItem.tsx
  frontend/src/components/Monitoring/AlertList/AlertList.tsx
  frontend/src/components/Monitoring/AlertModal/AlertModal.tsx
  frontend/src/components/Monitoring/AlertModal/CategorySelectModal.tsx
  frontend/src/components/Monitoring/AlertModal/IncidentModal.tsx
  frontend/src/components/Monitoring/AlertModal/SubmitModal.tsx
  frontend/src/components/Monitoring/InProgress/CategorySelectCard.tsx
  frontend/src/components/Monitoring/InProgress/FeedbackCard.tsx
  frontend/src/components/Monitoring/InProgress/InProgress.tsx
  frontend/src/components/Monitoring/InProgress/IncidentCard.tsx
  frontend/src/components/Monitoring/InProgress/ResolvedCard.tsx
  frontend/src/components/Monitoring/InProgress/VideoModal/VideoModal.tsx
  frontend/src/components/Monitoring/InfoSection/InfoSection.tsx
  frontend/src/components/common/CategoryDropDown/CategoryDropDown.tsx
  frontend/src/components/common/Sidebar/Layout.tsx
  frontend/src/components/common/Sidebar/Sidebar.tsx
  frontend/src/components/common/Sidebar/SidebarButton.tsx
  frontend/src/hooks/useIsModalOpen.ts
  frontend/src/mocks/InProgressData.ts
  frontend/src/pages/IncidentHistoryPage/IncidentHistoryPage.tsx
  frontend/src/pages/MonitoringPage/MonitoringPage.tsx
  frontend/src/stores/itemStore.ts
  frontend/tsconfig.app.json
Labels: :bug: BUG, :nail_care: FRONTEND

#67 [Backend] Refactor: 코드 스타일 통일 및 중복 코드 리팩토링
  backend/src/main/java/com/example/backend/analysis/repository/CaseStatsCategoryRepository.java
  backend/src/main/java/com/example/backend/analysis/repository/CaseStatsOverviewRepository.java
  backend/src/main/java/com/example/backend/analysis/service/CaseStatsService.java
  backend/src/main/java/com/example/backend/common/GlobalExceptionHandler.java
  backend/src/main/java/com/example/backend/common/domain/CaseEntity.java
  backend/src/main/java/com/example/backend/common/domain/CaseStatsCategoryEntity.java
  backend/src/main/java/com/example/backend/common/domain/CaseStatsOverviewEntity.java
  backend/src/main/java/com/example/backend/common/domain/CctvEntity.java
  backend/src/main/java/com/example/backend/common/domain/OfficeEntity.java
  backend/src/main/java/com/example/backend/common/domain/PoliceEntity.java
  backend/src/main/java/com/example/backend/dashboard/controller/DashboardController.java
  backend/src/main/java/com/example/backend/dashboard/domain/CaseEntity.java
  backend/src/main/java/com/example/backend/dashboard/domain/CctvEntity.java
  backend/src/main/java/com/example/backend/dashboard/domain/OfficeEntity.java
  backend/src/main/java/com/example/backend/dashboard/domain/PoliceEntity.java
  backend/src/main/java/com/example/backend/dashboard/dto/AlarmResponse.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseResponse.java
  backend/src/main/java/com/example/backend/dashboard/dto/SurveyRequest.java
  backend/src/main/java/com/example/backend/dashboard/dto/SurveyResponse.java
  backend/src/main/java/com/example/backend/dashboard/repository/AlarmListRepository.java
  backend/src/main/java/com/example/backend/dashboard/repository/CaseRepository.java
  backend/src/main/java/com/example/backend/dashboard/service/AlarmListService.java
  backend/src/main/java/com/example/backend/dashboard/service/DashboardService.java
  backend/src/main/java/com/example/backend/search/controller/SearchController.java
  backend/src/main/java/com/example/backend/search/domain/CctvEntity.java
  backend/src/main/java/com/example/backend/search/domain/OfficeEntity.java
  backend/src/main/java/com/example/backend/search/domain/SearchSpecification.java
  backend/src/main/java/com/example/backend/search/dto/DetailResponse.java
  backend/src/main/java/com/example/backend/search/dto/SearchResponse.java
  backend/src/main/java/com/example/backend/search/repository/CctvRepository.java
  backend/src/main/java/com/example/backend/search/repository/SearchRepository.java
  backend/src/main/java/com/example/backend/search/service/SearchService.java
  backend/src/main/java/com/example/backend/user/controller/UserController.java
  backend/src/main/java/com/example/backend/user/domain/UserEntity.java
  backend/src/main/java/com/example/backend/user/dto/UserResponseDto.java
  backend/src/main/java/com/example/backend/user/repository/UserRepository.java
  backend/src/main/java/com/example/backend/user/service/UserService.java
Labels: :hammer: REFACTOR, :rocket: BACKEND

#69 [Backend] fix: Entity Column 오타 수정
  backend/src/main/java/com/example/backend/analysis/dto/HourlyCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/repository/CaseStatsCategoryRepository.java
  backend/src/main/java/com/example/backend/common/domain/CaseEntity.java
  backend/src/main/java/com/example/backend/common/domain/CaseStatsCategoryEntity.java
  backend/src/main/java/com/example/backend/common/domain/CaseStatsOverviewEntity.java
Labels: :bug: BUG, :rocket: BACKEND

#71 [Backend] feat: 1차 API
  .github/workflows/backend-ci.yml
  backend/.gitattributes
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/example/backend/BackendApplication.java
  backend/src/main/java/com/example/backend/analysis/controller/CaseStatsController.java
  backend/src/main/java/com/example/backend/analysis/dto/CaseStatsOverviewResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/DailyCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/HourlyCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/LocationCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/MapCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/MonthlyCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/repository/CaseStatsCategoryRepository.java
  backend/src/main/java/com/example/backend/analysis/repository/CaseStatsOverviewRepository.java
  backend/src/main/java/com/example/backend/analysis/service/CaseStatsService.java
  backend/src/main/java/com/example/backend/common/GlobalExceptionHandler.java
  backend/src/main/java/com/example/backend/common/domain/CaseEntity.java
  backend/src/main/java/com/example/backend/common/domain/CaseStatsCategoryEntity.java
  backend/src/main/java/com/example/backend/common/domain/CaseStatsOverviewEntity.java
  backend/src/main/java/com/example/backend/common/domain/CctvEntity.java
  backend/src/main/java/com/example/backend/common/domain/OfficeEntity.java
  backend/src/main/java/com/example/backend/common/domain/PoliceEntity.java
  backend/src/main/java/com/example/backend/dashboard/controller/AlarmListController.java
  backend/src/main/java/com/example/backend/dashboard/controller/DashboardController.java
  backend/src/main/java/com/example/backend/dashboard/dto/AlarmResponse.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseResponse.java
  backend/src/main/java/com/example/backend/dashboard/dto/SurveyRequest.java
  backend/src/main/java/com/example/backend/dashboard/dto/SurveyResponse.java
  backend/src/main/java/com/example/backend/dashboard/repository/AlarmListRepository.java
  backend/src/main/java/com/example/backend/dashboard/repository/CaseRepository.java
  backend/src/main/java/com/example/backend/dashboard/service/AlarmListService.java
  backend/src/main/java/com/example/backend/dashboard/service/DashboardService.java
  backend/src/main/java/com/example/backend/search/controller/SearchController.java
  backend/src/main/java/com/example/backend/search/domain/SearchSpecification.java
  backend/src/main/java/com/example/backend/search/dto/DetailRequest.java
  backend/src/main/java/com/example/backend/search/dto/DetailResponse.java
  backend/src/main/java/com/example/backend/search/dto/SearchRequest.java
  backend/src/main/java/com/example/backend/search/dto/SearchResponse.java
  backend/src/main/java/com/example/backend/search/dto/SearchResult.java
  backend/src/main/java/com/example/backend/search/repository/CctvRepository.java
  backend/src/main/java/com/example/backend/search/repository/SearchRepository.java
  backend/src/main/java/com/example/backend/search/service/SearchService.java
  backend/src/main/java/com/example/backend/user/controller/UserController.java
  backend/src/main/java/com/example/backend/user/dto/UserRequestDto.java
  backend/src/main/java/com/example/backend/user/dto/UserResponseDto.java
  backend/src/main/java/com/example/backend/user/repository/UserRepository.java
  backend/src/main/java/com/example/backend/user/service/UserService.java
  backend/src/test/java/com/example/backend/BackendApplicationTests.java
Labels: :sparkles: FEAT, :rocket: BACKEND

#73 [Backend] feat: 배포 관련 docker 설정
  backend/Dockerfile
Labels: :sparkles: FEAT, :rocket: BACKEND

#63 [Frontend] feat: 푸시알림 컴포넌트 구현
  frontend/package.json
  frontend/src/apis/.gitkeep
  frontend/src/assets/icons/exclamationMark.svg
  frontend/src/components/IncidentHistory/Filtering/Filtering.style.ts
  frontend/src/components/IncidentHistory/IncidentDetailsModal/IncidentDetailsModal.style.ts
  frontend/src/components/IncidentHistory/IncidentList/IncidentList.style.ts
  frontend/src/components/Monitoring/AlertList/AlertItem.tsx
  frontend/src/components/Monitoring/AlertList/AlertList.style.ts
  frontend/src/components/Monitoring/AlertList/AlertList.tsx
  frontend/src/components/Monitoring/AlertList/EmptyView.tsx
  frontend/src/components/Monitoring/InfoSection/InfoBox.tsx
  frontend/src/components/Monitoring/InfoSection/InfoSection.style.ts
  frontend/src/components/Monitoring/InfoSection/InfoSection.tsx
  frontend/src/components/Monitoring/InfoSection/KakaoMap.tsx
  frontend/src/components/Monitoring/InfoSection/VideoBox.tsx
  frontend/src/components/common/PushNotification/PushNotification.style.ts
  frontend/src/components/common/PushNotification/PushNotification.tsx
  frontend/src/mocks/AlertListData.ts
  frontend/yarn.lock
Labels: :sparkles: FEAT, :nail_care: FRONTEND

#75 [Backend] fix: 출동 시 담당 경찰관 배정
  backend/src/main/java/com/example/backend/common/GlobalExceptionHandler.java
  backend/src/main/java/com/example/backend/dashboard/controller/AlarmListController.java
  backend/src/main/java/com/example/backend/dashboard/controller/ProgressController.java
  backend/src/main/java/com/example/backend/dashboard/dto/ProgressResponse.java
  backend/src/main/java/com/example/backend/dashboard/repository/AlarmListRepository.java
  backend/src/main/java/com/example/backend/dashboard/repository/ProgressRepository.java
  backend/src/main/java/com/example/backend/dashboard/service/AlarmListService.java
  backend/src/main/java/com/example/backend/dashboard/service/ProgressService.java
  backend/src/main/java/com/example/backend/user/dto/UserResponseDto.java
  backend/src/main/java/com/example/backend/user/service/UserService.java
Labels: :bug: BUG, :rocket: BACKEND

#79 [Frontend] feat: 로그인 API 구현
  frontend/src/apis/.gitkeep
  frontend/src/apis/LoginApi.ts
  frontend/src/apis/axiosInstance.ts
  frontend/src/components/Login/LoginForm.tsx
  frontend/src/components/common/Sidebar/Sidebar.style.ts
Labels: :sparkles: FEAT, :nail_care: FRONTEND

#81 [Backend] fix: User API에 police info 추가
  backend/src/main/java/com/example/backend/dashboard/dto/AlarmResponse.java
  backend/src/main/java/com/example/backend/dashboard/dto/ProgressResponse.java
  backend/src/main/java/com/example/backend/user/dto/UserResponseDto.java
  backend/src/main/java/com/example/backend/user/service/UserService.java
Labels: :bug: BUG, :rocket: BACKEND

#78 [Backend] feat: 프론트 CORS 설정 추가
  .github/workflows/backend-ci.yml
  backend/build.gradle
  backend/src/main/java/com/example/backend/config/CorsConfig.java
  backend/src/main/java/com/example/backend/config/SecurityConfig.java
Labels: :sparkles: FEAT, :rocket: BACKEND

#83 [Backend] feat: 프론트 요구사항 충족 및 CORS 설정
  .github/workflows/backend-ci.yml
  backend/build.gradle
  backend/src/main/java/com/example/backend/common/GlobalExceptionHandler.java
  backend/src/main/java/com/example/backend/config/CorsConfig.java
  backend/src/main/java/com/example/backend/config/SecurityConfig.java
  backend/src/main/java/com/example/backend/dashboard/controller/AlarmListController.java
  backend/src/main/java/com/example/backend/dashboard/controller/ProgressController.java
  backend/src/main/java/com/example/backend/dashboard/dto/AlarmResponse.java
  backend/src/main/java/com/example/backend/dashboard/dto/ProgressResponse.java
  backend/src/main/java/com/example/backend/dashboard/repository/AlarmListRepository.java
  backend/src/main/java/com/example/backend/dashboard/repository/ProgressRepository.java
  backend/src/main/java/com/example/backend/dashboard/service/AlarmListService.java
  backend/src/main/java/com/example/backend/dashboard/service/ProgressService.java
  backend/src/main/java/com/example/backend/user/dto/UserResponseDto.java
  backend/src/main/java/com/example/backend/user/service/UserService.java
Labels: :sparkles: FEAT, :rocket: BACKEND

#84 [Backend] feat: SSE 실시간 알림 API 구현
  backend/src/main/java/com/example/backend/dashboard/controller/CaseDetectController.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseDetectRequest.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseDetectResponse.java
  backend/src/main/java/com/example/backend/dashboard/service/CaseDetectService.java
  backend/src/main/java/com/example/backend/dashboard/service/SseEmitterService.java
  backend/src/main/java/com/example/backend/search/controller/SearchController.java
  backend/src/main/java/com/example/backend/search/dto/DetailResponse.java
  backend/src/main/java/com/example/backend/search/dto/SearchRequest.java
  backend/src/main/java/com/example/backend/search/dto/SearchResponse.java
  backend/src/main/java/com/example/backend/search/repository/CctvRepository.java
  backend/src/main/java/com/example/backend/search/service/SearchService.java
Labels: :sparkles: FEAT, :rocket: BACKEND

#85 [Backend] merge: SSE API 연동
  backend/src/main/java/com/example/backend/dashboard/controller/CaseDetectController.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseDetectRequest.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseDetectResponse.java
  backend/src/main/java/com/example/backend/dashboard/service/CaseDetectService.java
  backend/src/main/java/com/example/backend/dashboard/service/SseEmitterService.java
  backend/src/main/java/com/example/backend/search/controller/SearchController.java
  backend/src/main/java/com/example/backend/search/dto/DetailResponse.java
  backend/src/main/java/com/example/backend/search/dto/SearchRequest.java
  backend/src/main/java/com/example/backend/search/dto/SearchResponse.java
  backend/src/main/java/com/example/backend/search/repository/CctvRepository.java
  backend/src/main/java/com/example/backend/search/service/SearchService.java
Labels: :rocket: BACKEND

#89 [Backend] fix: 알림 리스트 API 수정
  backend/src/main/java/com/example/backend/dashboard/controller/AlarmListController.java
  backend/src/main/java/com/example/backend/dashboard/dto/AlarmRequest.java
  backend/src/main/java/com/example/backend/dashboard/service/AlarmListService.java
Labels: :bug: BUG, :rocket: BACKEND

#90 [Backend] merge: 3차 API 연동
  backend/src/main/java/com/example/backend/dashboard/controller/AlarmListController.java
  backend/src/main/java/com/example/backend/dashboard/dto/AlarmRequest.java
  backend/src/main/java/com/example/backend/dashboard/service/AlarmListService.java
Labels: :rocket: BACKEND

#94 [Backend] feat: Overview API 에 순찰 강화 지역 추가
  backend/src/main/java/com/example/backend/analysis/dto/CaseStatsOverviewResponse.java
  backend/src/main/java/com/example/backend/analysis/repository/CaseStatsOverviewRepository.java
  backend/src/main/java/com/example/backend/analysis/service/CaseStatsService.java
Labels: :sparkles: FEAT, :rocket: BACKEND

#96 [Backend] refactor: 출동 중, 알림 리스트 API 통합 및 코드 리팩터링
  backend/src/main/java/com/example/backend/dashboard/controller/AlarmListController.java
  backend/src/main/java/com/example/backend/dashboard/controller/DashboardController.java
  backend/src/main/java/com/example/backend/dashboard/controller/ProgressController.java
  backend/src/main/java/com/example/backend/dashboard/dto/AlarmResponse.java
  backend/src/main/java/com/example/backend/dashboard/dto/DashboardResponse.java
  backend/src/main/java/com/example/backend/dashboard/dto/StateRequest.java
  backend/src/main/java/com/example/backend/dashboard/dto/SurveyResponse.java
  backend/src/main/java/com/example/backend/dashboard/repository/AlarmListRepository.java
  backend/src/main/java/com/example/backend/dashboard/repository/DashboardRepository.java
  backend/src/main/java/com/example/backend/dashboard/repository/ProgressRepository.java
  backend/src/main/java/com/example/backend/dashboard/service/AlarmListService.java
  backend/src/main/java/com/example/backend/dashboard/service/CaseDetectService.java
  backend/src/main/java/com/example/backend/dashboard/service/DashboardService.java
  backend/src/main/java/com/example/backend/dashboard/service/ProgressService.java
Labels: :hammer: REFACTOR, :rocket: BACKEND

#97 [Backend] merge: 4차 API 연동
  backend/src/main/java/com/example/backend/analysis/dto/CaseStatsOverviewResponse.java
  backend/src/main/java/com/example/backend/analysis/repository/CaseStatsOverviewRepository.java
  backend/src/main/java/com/example/backend/analysis/service/CaseStatsService.java
  backend/src/main/java/com/example/backend/dashboard/controller/AlarmListController.java
  backend/src/main/java/com/example/backend/dashboard/controller/DashboardController.java
  backend/src/main/java/com/example/backend/dashboard/controller/ProgressController.java
  backend/src/main/java/com/example/backend/dashboard/dto/AlarmResponse.java
  backend/src/main/java/com/example/backend/dashboard/dto/DashboardResponse.java
  backend/src/main/java/com/example/backend/dashboard/dto/StateRequest.java
  backend/src/main/java/com/example/backend/dashboard/dto/SurveyResponse.java
  backend/src/main/java/com/example/backend/dashboard/repository/AlarmListRepository.java
  backend/src/main/java/com/example/backend/dashboard/repository/DashboardRepository.java
  backend/src/main/java/com/example/backend/dashboard/repository/ProgressRepository.java
  backend/src/main/java/com/example/backend/dashboard/service/AlarmListService.java
  backend/src/main/java/com/example/backend/dashboard/service/CaseDetectService.java
  backend/src/main/java/com/example/backend/dashboard/service/DashboardService.java
  backend/src/main/java/com/example/backend/dashboard/service/ProgressService.java
Labels: :rocket: BACKEND

#100 [Backend] fix: 기록 페이지 get 요청
  backend/gradlew
  backend/src/main/java/com/example/backend/search/controller/SearchController.java
  backend/src/main/java/com/example/backend/search/dto/SearchResult.java
  backend/src/main/java/com/example/backend/search/service/SearchService.java
Labels: :bug: BUG

#101 [Backend] merge: fix get requestBody error
  backend/gradlew
  backend/src/main/java/com/example/backend/search/controller/SearchController.java
  backend/src/main/java/com/example/backend/search/dto/SearchResult.java
  backend/src/main/java/com/example/backend/search/service/SearchService.java
Labels: :bug: BUG, :rocket: BACKEND

#103 [Backend] feat: AWS 자동 배포 CD 구축
  .github/workflows/backend-cd.yml
Labels: :sparkles: FEAT, :rocket: BACKEND

#105 [Backend] fix: address filter #99
  backend/src/main/java/com/example/backend/search/domain/SearchSpecification.java
  backend/src/main/java/com/example/backend/search/service/SearchService.java
Labels: :bug: BUG, :rocket: BACKEND

#106 [Backend] refactor: 코드 스타일 통합 및 리팩터링
  backend/src/main/java/com/example/backend/analysis/controller/CaseStatsController.java
  backend/src/main/java/com/example/backend/analysis/dto/CaseStatsOverviewResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/DailyCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/HourlyCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/LocationCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/MapCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/MonthlyCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/service/CaseStatsService.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseDetectRequest.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseDetectResponse.java
  backend/src/main/java/com/example/backend/dashboard/dto/DashboardResponse.java
  backend/src/main/java/com/example/backend/search/dto/DetailResponse.java
  backend/src/main/java/com/example/backend/search/dto/SearchRequest.java
  backend/src/main/java/com/example/backend/search/dto/SearchResponse.java
  backend/src/main/java/com/example/backend/search/dto/SearchResult.java
  backend/src/main/java/com/example/backend/user/dto/UserResponseDto.java
Labels: :hammer: REFACTOR, :rocket: BACKEND

#107 [Backend] merge: 기록 페이지 API 수정 및 코드 리팩토링
  backend/src/main/java/com/example/backend/analysis/controller/CaseStatsController.java
  backend/src/main/java/com/example/backend/analysis/dto/CaseStatsOverviewResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/DailyCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/HourlyCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/LocationCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/MapCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/MonthlyCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/service/CaseStatsService.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseDetectRequest.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseDetectResponse.java
  backend/src/main/java/com/example/backend/dashboard/dto/DashboardResponse.java
  backend/src/main/java/com/example/backend/search/domain/SearchSpecification.java
  backend/src/main/java/com/example/backend/search/dto/DetailResponse.java
  backend/src/main/java/com/example/backend/search/dto/SearchRequest.java
  backend/src/main/java/com/example/backend/search/dto/SearchResponse.java
  backend/src/main/java/com/example/backend/search/dto/SearchResult.java
  backend/src/main/java/com/example/backend/search/service/SearchService.java
  backend/src/main/java/com/example/backend/user/dto/UserResponseDto.java
Labels: :rocket: BACKEND

#98 [Frontend] feat: 실시간 모니터링 페이지 API 연동 & 서버 https 실행
  frontend/.gitignore
  frontend/package.json
  frontend/src/apis/AlertApi.ts
  frontend/src/apis/LoginApi.ts
  frontend/src/apis/axiosInstance.ts
  frontend/src/components/Login/LoginForm.tsx
  frontend/src/components/Monitoring/AlertList/AlertList.tsx
  frontend/src/components/Monitoring/AlertModal/AlertModal.tsx
  frontend/src/components/Monitoring/AlertModal/CategorySelectModal.tsx
  frontend/src/components/Monitoring/AlertModal/IncidentModal.tsx
  frontend/src/components/Monitoring/InProgress/CategorySelectCard.tsx
  frontend/src/components/Monitoring/InProgress/FeedbackCard.tsx
  frontend/src/components/Monitoring/InProgress/InProgress.tsx
  frontend/src/components/Monitoring/InProgress/IncidentCard.tsx
  frontend/src/components/Monitoring/InProgress/VideoModal/VideoModal.tsx
  frontend/src/components/common/VideoComponent/VideoComponent.tsx
  frontend/src/constants/EventCategory.ts
  frontend/src/hooks/useScrollObserver.ts
  frontend/src/mocks/InProgressData.ts
  frontend/src/pages/IncidentHistory/page.tsx
  frontend/src/pages/IncidentHistory/style.ts
  frontend/src/pages/Monitoring/page.tsx
  frontend/src/pages/Monitoring/style.ts
  frontend/src/stores/itemStore.ts
  frontend/src/types/alert.ts
  frontend/src/utils/categoryMapper.ts
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: :sparkles: FEAT, :nail_care: FRONTEND

#109 [Backend] fix: AWS 자동 배포 CD 수정
  .github/workflows/backend-cd.yml
Labels: :bug: BUG, :rocket: BACKEND

#113 [Backend] fix: 지도용 API 기간 수정
  backend/src/main/java/com/example/backend/analysis/controller/CaseStatsController.java
  backend/src/main/java/com/example/backend/analysis/service/CaseStatsService.java
  backend/src/main/java/com/example/backend/common/GlobalExceptionHandler.java
  backend/src/main/java/com/example/backend/config/CorsConfig.java
  backend/src/main/java/com/example/backend/config/SecurityConfig.java
  backend/src/main/java/com/example/backend/dashboard/controller/CaseDetectController.java
  backend/src/main/java/com/example/backend/dashboard/controller/DashboardController.java
  backend/src/main/java/com/example/backend/dashboard/service/DashboardService.java
Labels: :bug: BUG
