Repository kookmin-sw/capstone-2025-24, pull requests merged in 2025-04, with the labels that each got.

#116 [Frontend] feat: 통계 페이지 api 연동
  frontend/src/apis/ChartApi.ts
  frontend/src/apis/LoginApi.ts
  frontend/src/apis/axiosInstance.ts
  frontend/src/components/Chart/BarCard/BarCard.style.ts
  frontend/src/components/Chart/BarCard/BarCard.tsx
  frontend/src/components/Chart/BarCard/BarChart.tsx
  frontend/src/components/Chart/BarCard/BarFilter/BarFilter.tsx
  frontend/src/components/Chart/BarCard/BarFilter/Dropdown/Dropdown.tsx
  frontend/src/components/Chart/ClusteringCard/ClusterMap.tsx
  frontend/src/components/Chart/ClusteringCard/ClusteringCard.tsx
  frontend/src/components/Chart/ClusteringCard/StatsPanel/StatsItem.tsx
  frontend/src/components/Chart/ClusteringCard/StatsPanel/StatsPanel.tsx
  frontend/src/components/Chart/DoughnutCard/ChartFilter/ChartFilter.tsx
  frontend/src/components/Chart/DoughnutCard/DoughnutCard.style.ts
  frontend/src/components/Chart/DoughnutCard/DoughnutCard.tsx
  frontend/src/components/Chart/DoughnutCard/DoughnutChart.tsx
  frontend/src/components/Chart/DoughnutCard/Label.tsx
  frontend/src/components/Chart/DoughnutCard/LabelBox.tsx
  frontend/src/components/Chart/LineCard/CalendarSection/CalendarSection.style.ts
  frontend/src/components/Chart/LineCard/CalendarSection/CalenderComponent.tsx
  frontend/src/components/Chart/LineCard/CalendarSection/DateDisplay.tsx
  frontend/src/components/Chart/LineCard/LineCard.style.ts
  frontend/src/components/Chart/LineCard/LineCard.tsx
  frontend/src/components/Chart/LineCard/LineChart.tsx
  frontend/src/components/Chart/Overview/Overview.style.ts
  frontend/src/components/Chart/Overview/OverviewDiv.tsx
  frontend/src/components/Chart/Overview/OverviewLargeCard.tsx
  frontend/src/components/Login/LoginForm.tsx
  frontend/src/constants/EventCategory.ts
  frontend/src/constants/dropdownOptions.ts
  frontend/src/constants/labelList.ts
  frontend/src/constants/overviewList.ts
  frontend/src/hooks/dataFormatter.ts
  frontend/src/hooks/useCountUp.ts
  frontend/src/mocks/BarData.ts
  frontend/src/mocks/ClusterData.ts
  frontend/src/mocks/DoughnutData.ts
  frontend/src/mocks/LineData.ts
  frontend/src/mocks/OverviewCount.ts
  frontend/src/pages/ChartPage/ChartPage.tsx
  frontend/src/routes/Router.tsx
  frontend/src/stores/categoryIndexStore.ts
  frontend/src/stores/regionIndexStore.ts
  frontend/src/styles/GlobalStyle.ts
  frontend/src/types/chartType.ts
  frontend/src/utils/addressFormatter.ts
  frontend/src/utils/dataFormatter.ts
Labels: :sparkles: FEAT, :nail_care: FRONTEND

#123 [Backend] fix: AWS 자동 배포 CD 수정
  .github/workflows/backend-cd.yml
Labels: :bug: BUG, :rocket: BACKEND

#124 [Frontend] fix: api 연동 에러 수정
  frontend/src/apis/IncidentHistoryApi.ts
  frontend/src/components/IncidentHistory/Filtering/Filtering.tsx
  frontend/src/types/incident.ts
Labels: :bug: BUG, :nail_care: FRONTEND

#130 [Frontend] fix: Chart Page 에러 해결
  frontend/src/apis/ChartApi.ts
  frontend/src/components/Chart/BarCard/BarCard.tsx
  frontend/src/components/Chart/BarCard/BarFilter/Dropdown/Dropdown.tsx
  frontend/src/components/Chart/ClusteringCard/StatsPanel/StatsPanel.tsx
  frontend/src/components/Chart/DoughnutCard/DoughnutCard.tsx
  frontend/src/components/Chart/LineCard/LineChart.tsx
  frontend/src/components/common/CategoryDropDown/CategoryDropDown.tsx
  frontend/src/stores/profileStore.ts
  frontend/src/utils/dataFormatter.ts
Labels: :bug: BUG, :nail_care: FRONTEND

#133 [Backend] fix: SSE 통신 에러 해결 및 API 수정
  backend/src/main/java/com/example/backend/config/SecurityConfig.java
  backend/src/main/java/com/example/backend/dashboard/controller/CaseDetectController.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseDetectResponse.java
  backend/src/main/java/com/example/backend/dashboard/repository/DashboardRepository.java
  backend/src/main/java/com/example/backend/dashboard/service/DashboardService.java
  backend/src/main/java/com/example/backend/dashboard/service/SseEmitterService.java
Labels: :bug: BUG, :rocket: BACKEND

#136 [Backend] fix: API 오류 수정
  backend/src/main/java/com/example/backend/common/GlobalExceptionHandler.java
  backend/src/main/java/com/example/backend/common/domain/CaseEntity.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseDetectResponse.java
  backend/src/main/java/com/example/backend/dashboard/repository/DashboardRepository.java
  backend/src/main/java/com/example/backend/dashboard/service/CaseDetectService.java
  backend/src/main/java/com/example/backend/dashboard/service/DashboardService.java
  backend/src/main/java/com/example/backend/search/dto/DetailResponse.java
  backend/src/main/java/com/example/backend/search/dto/SearchResponse.java
  backend/src/main/java/com/example/backend/search/dto/SearchResult.java
Labels: :bug: BUG, :rocket: BACKEND

#137 [Backend] merge: API 수정
  backend/src/main/java/com/example/backend/common/GlobalExceptionHandler.java
  backend/src/main/java/com/example/backend/common/domain/CaseEntity.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseDetectResponse.java
  backend/src/main/java/com/example/backend/dashboard/repository/DashboardRepository.java
  backend/src/main/java/com/example/backend/dashboard/service/CaseDetectService.java
  backend/src/main/java/com/example/backend/dashboard/service/DashboardService.java
  backend/src/main/java/com/example/backend/search/dto/DetailResponse.java
  backend/src/main/java/com/example/backend/search/dto/SearchResponse.java
  backend/src/main/java/com/example/backend/search/dto/SearchResult.java
Labels: :rocket: BACKEND

#140 [Backend] fix: DateTimeFormatter 오류
  backend/src/main/java/com/example/backend/dashboard/service/DashboardService.java
Labels: :bug: BUG, :rocket: BACKEND

#141 [Backend] merge: fix DateTimeFormatter error
  backend/src/main/java/com/example/backend/dashboard/service/DashboardService.java
Labels: :bug: BUG, :rocket: BACKEND

#143 [Frontend] design: 사이드바 디자인 수정
  frontend/src/components/IncidentHistory/IncidentDetailsModal/IncidentDetailsModal.style.ts
  frontend/src/components/Monitoring/AlertList/AlertList.style.ts
  frontend/src/components/Monitoring/AlertList/AlertList.tsx
  frontend/src/components/Monitoring/InfoSection/InfoSection.style.ts
  frontend/src/components/common/Sidebar/Sidebar.style.ts
  frontend/src/components/common/Sidebar/Sidebar.tsx
  frontend/src/components/common/Sidebar/SidebarButton.tsx
  frontend/src/components/common/ToolTip/ToolTip.style.ts
  frontend/src/components/common/ToolTip/ToolTip.tsx
  frontend/src/constants/sidebarList.ts
  frontend/src/styles/GlobalStyle.ts
Labels: :lipstick: DESIGN, :nail_care: FRONTEND

#144 [Backend] feat: logout API
  backend/src/main/java/com/example/backend/dashboard/controller/DashboardController.java
  backend/src/main/java/com/example/backend/dashboard/service/DashboardService.java
  backend/src/main/java/com/example/backend/user/controller/UserController.java
Labels: :sparkles: FEAT, :rocket: BACKEND

#145 [Backend] merge: logout API & fix error
  backend/src/main/java/com/example/backend/dashboard/controller/DashboardController.java
  backend/src/main/java/com/example/backend/dashboard/service/DashboardService.java
  backend/src/main/java/com/example/backend/user/controller/UserController.java
Labels: :bug: BUG, :rocket: BACKEND

#138 [Frontend] feat: 실시간 SSE 통신 및 2단계 모달, 1단계 푸쉬 알림
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/apis/AlertApi.ts
  frontend/src/components/Monitoring/AlertList/AlertItem.tsx
  frontend/src/components/Monitoring/AlertList/AlertList.style.ts
  frontend/src/components/Monitoring/AlertList/AlertList.tsx
  frontend/src/components/Monitoring/AlertModal/AlertModal.style.ts
  frontend/src/components/Monitoring/AlertModal/AlertModal.tsx
  frontend/src/components/Monitoring/AlertModal/IncidentModal.tsx
  frontend/src/components/Monitoring/InProgress/InProgress.style.ts
  frontend/src/components/Monitoring/InProgress/IncidentCard.tsx
  frontend/src/components/Monitoring/InfoSection/KakaoMap.tsx
  frontend/src/components/RealTimeAlert/PushNotification/PushNotification.style.ts
  frontend/src/components/RealTimeAlert/PushNotification/PushNotification.tsx
  frontend/src/components/RealTimeAlert/RealTimeAlert.tsx
  frontend/src/components/common/Sidebar/Sidebar.tsx
  frontend/src/hooks/useSSE.ts
  frontend/src/main.tsx
  frontend/src/mocks/InProgressData.ts
  frontend/src/mocks/IncidentListData.ts
  frontend/src/pages/MonitoringPage/MonitoringPage.tsx
  frontend/src/routes/Router.tsx
  frontend/src/stores/highlightStore.ts
  frontend/src/styles/GlobalStyle.ts
  frontend/yarn.lock
Labels: :sparkles: FEAT, :nail_care: FRONTEND

#148 [Backend] feat: CCTV Info API 개발
  .github/workflows/backend-ci.yml
  backend/src/main/java/com/example/backend/dashboard/controller/CctvController.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseDetectRequest.java
  backend/src/main/java/com/example/backend/dashboard/dto/CctvInfoResponse.java
  backend/src/main/java/com/example/backend/dashboard/dto/DashboardResponse.java
  backend/src/main/java/com/example/backend/dashboard/repository/CctvInfoRepository.java
  backend/src/main/java/com/example/backend/dashboard/service/CctvService.java
Labels: :sparkles: FEAT, :rocket: BACKEND

#149 [Backend] fix: getCctvInfo 에 각 cctv별 liveUrl 추가
  .github/workflows/backend-ci.yml
  backend/src/main/java/com/example/backend/dashboard/controller/CctvController.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseDetectRequest.java
  backend/src/main/java/com/example/backend/dashboard/dto/CctvInfoResponse.java
  backend/src/main/java/com/example/backend/dashboard/dto/DashboardResponse.java
  backend/src/main/java/com/example/backend/dashboard/repository/CctvInfoRepository.java
  backend/src/main/java/com/example/backend/dashboard/service/CctvService.java
Labels: :bug: BUG, :rocket: BACKEND

#151 [Frontend] refactor: 모니터링 페이지 및 전체 코드 리팩토링
  frontend/src/apis/ChartApi.ts
  frontend/src/components/Chart/BarCard/BarCard.tsx
  frontend/src/components/Chart/BarCard/BarChart.tsx
  frontend/src/components/Chart/ClusteringCard/ClusterMap.tsx
  frontend/src/components/Chart/ClusteringCard/ClusteringCard.tsx
  frontend/src/components/Chart/ClusteringCard/StatsPanel/StatsPanel.tsx
  frontend/src/components/Chart/DoughnutCard/DoughnutCard.tsx
  frontend/src/components/Chart/DoughnutCard/DoughnutChart.tsx
  frontend/src/components/Chart/DoughnutCard/LabelBox.tsx
  frontend/src/components/Chart/LineCard/LineCard.tsx
  frontend/src/components/Chart/LineCard/LineChart.tsx
  frontend/src/components/Chart/Overview/OverviewDiv.tsx
  frontend/src/components/IncidentHistory/IncidentList/IncidentList.tsx
  frontend/src/components/Monitoring/AlertList/AlertItem.tsx
  frontend/src/components/Monitoring/AlertModal/AlertModal.tsx
  frontend/src/components/Monitoring/AlertModal/CategorySelectModal.tsx
  frontend/src/components/Monitoring/AlertModal/FeedbackModal.tsx
  frontend/src/components/Monitoring/InProgress/CategorySelectCard.tsx
  frontend/src/components/Monitoring/InProgress/InProgress.style.ts
  frontend/src/components/Monitoring/InProgress/IncidentCard.tsx
  frontend/src/components/RealTimeAlert/RealTimeAlert.tsx
  frontend/src/stores/highlightStore.ts
  frontend/src/types/chart.ts
  frontend/src/utils/categoryMapper.ts
  frontend/src/utils/dataFormatter.ts
Labels: :hammer: REFACTOR, :nail_care: FRONTEND

#152 [Frontend] feat: 실시간 모니터링 페이지 연동
  frontend/package.json
  frontend/src/apis/CctvApi.ts
  frontend/src/components/Chart/DoughnutCard/DoughnutCard.tsx
  frontend/src/components/Chart/LineCard/CalendarSection/DateDisplay.tsx
  frontend/src/components/Monitoring/InfoSection/InfoBox.tsx
  frontend/src/components/Monitoring/InfoSection/InfoSection.style.ts
  frontend/src/components/Monitoring/InfoSection/InfoSection.tsx
  frontend/src/components/Monitoring/InfoSection/KakaoMap.tsx
  frontend/src/components/Monitoring/InfoSection/VideoBox.tsx
  frontend/src/components/Monitoring/InfoSection/VideoPlayer.tsx
  frontend/src/components/common/VideoComponent/VideoComponent.tsx
  frontend/src/mocks/LocationData.ts
  frontend/src/types/cctv.ts
  frontend/yarn.lock
Labels: :sparkles: FEAT, :nail_care: FRONTEND

#156 [Backend] feat: login 실패시 에러처리
  backend/src/main/java/com/example/backend/user/controller/UserController.java
  backend/src/main/java/com/example/backend/user/service/UserService.java
Labels: :sparkles: FEAT, :rocket: BACKEND

#161 [Backend] feat: level 자동 처리 로직 추가
  backend/src/main/java/com/example/backend/dashboard/dto/CaseDetectRequest.java
  backend/src/main/java/com/example/backend/dashboard/service/CaseDetectService.java
Labels: :sparkles: FEAT, :rocket: BACKEND

#162 [Backend] feat: S3 video 인증 로직 추가(Presigned URL)
  .github/workflows/backend-ci.yml
  backend/build.gradle
  backend/src/main/java/com/example/backend/config/S3Config.java
  backend/src/main/java/com/example/backend/dashboard/service/DashboardService.java
  backend/src/main/java/com/example/backend/search/dto/DetailResponse.java
  backend/src/main/java/com/example/backend/search/service/SearchService.java
Labels: :sparkles: FEAT, :rocket: BACKEND
