Repository kookmin-sw/capstone-2025-24, pull requests merged in 2025-05, with the labels that each got.

#166 [Backend] feat: 카테고리 추가 및 API 수정
  backend/src/main/java/com/example/backend/analysis/controller/CaseStatsController.java
  backend/src/main/java/com/example/backend/analysis/dto/DailyCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/HourlyCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/MapCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/MonthlyCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/repository/CaseStatsCategoryRepository.java
  backend/src/main/java/com/example/backend/analysis/repository/CaseStatsOverviewRepository.java
  backend/src/main/java/com/example/backend/analysis/service/CaseStatsService.java
  backend/src/main/java/com/example/backend/common/GlobalExceptionHandler.java
  backend/src/main/java/com/example/backend/common/domain/CaseEntity.java
  backend/src/main/java/com/example/backend/common/domain/CaseStatsCategoryEntity.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseDetectResponse.java
  backend/src/main/java/com/example/backend/dashboard/dto/DashboardResponse.java
  backend/src/main/java/com/example/backend/dashboard/service/CaseDetectService.java
  backend/src/main/java/com/example/backend/dashboard/service/DashboardService.java
Labels: :sparkles: FEAT, :rocket: BACKEND

#168 [Media] feat: 미디어 서버 세팅 및 웹캠 실시간 스트리밍
  media/Dockerfile
  media/docker-compose.yml
  media/nginx.conf
Labels: :sparkles: FEAT, :rocket: BACKEND

#167 [Frontend] feat: 로그아웃 연동 및 모니터링 부분 수정
  frontend/index.html
  frontend/src/apis/LoginApi.ts
  frontend/src/components/Layout/Layout.tsx
  frontend/src/components/Layout/Sidebar/ConfirmModal.tsx
  frontend/src/components/Layout/Sidebar/LogoutButton.tsx
  frontend/src/components/Layout/Sidebar/Profile.tsx
  frontend/src/components/Layout/Sidebar/Sidebar.style.ts
  frontend/src/components/Layout/Sidebar/Sidebar.tsx
  frontend/src/components/Layout/Sidebar/SidebarButton.tsx
  frontend/src/components/Login/LoginForm.tsx
  frontend/src/components/Monitoring/AlertList/AlertItem.tsx
  frontend/src/components/Monitoring/AlertList/AlertList.tsx
  frontend/src/components/Monitoring/AlertModal/AlertModal.style.ts
  frontend/src/components/Monitoring/AlertModal/AlertModal.tsx
  frontend/src/components/Monitoring/AlertModal/IncidentModal.tsx
  frontend/src/components/Monitoring/InfoSection/InfoBox.tsx
  frontend/src/components/Monitoring/InfoSection/InfoSection.style.ts
  frontend/src/components/Monitoring/InfoSection/InfoSection.tsx
  frontend/src/components/Monitoring/InfoSection/KakaoMap.tsx
  frontend/src/components/Monitoring/InfoSection/VideoPlayer.tsx
  frontend/src/components/RealTimeAlert/RealTimeAlert.tsx
  frontend/src/routes/PrivateRoute.tsx
  frontend/src/routes/PublicRoute.tsx
  frontend/src/routes/Router.tsx
  frontend/src/stores/authStore.ts
  frontend/src/stores/selectedCctvStore.ts
  frontend/src/types/alert.ts
  frontend/src/types/cctv.ts
  frontend/vercel.json
Labels: :sparkles: FEAT, :nail_care: FRONTEND

#170 [Frontend] feat: 로그인 페이지 리디자인 & 에러 처리
  frontend/package.json
  frontend/src/apis/LoginApi.ts
  frontend/src/assets/icons/logoBlue.svg
  frontend/src/assets/icons/logoWhite.svg
  frontend/src/assets/icons/plus.svg
  frontend/src/assets/images/bellCircle.svg
  frontend/src/assets/images/charts.svg
  frontend/src/assets/images/fluid.svg
  frontend/src/assets/images/index.ts
  frontend/src/assets/images/loginCctv.svg
  frontend/src/assets/images/loginMonitor.svg
  frontend/src/assets/images/markerCircle.svg
  frontend/src/assets/lottie/cctvBackground.json
  frontend/src/assets/lottie/spreadCircle.json
  frontend/src/components/Login/InfoSlider/CustomDots.tsx
  frontend/src/components/Login/InfoSlider/InfoSlider.style.ts
  frontend/src/components/Login/InfoSlider/InfoSlider.tsx
  frontend/src/components/Login/Login.style.ts
  frontend/src/components/Login/LoginCard/FormSide.tsx
  frontend/src/components/Login/LoginCard/InfoSide.tsx
  frontend/src/components/Login/LoginCard/LoginCard.style.ts
  frontend/src/components/Login/LoginCard/LoginCard.tsx
  frontend/src/components/Login/LoginCard/LoginForm.tsx
  frontend/src/components/Login/LoginForm.tsx
  frontend/src/pages/LoginPage/LoginPage.style.ts
  frontend/src/pages/LoginPage/LoginPage.tsx
  frontend/src/styles/GlobalStyle.ts
  frontend/src/types/profile.ts
  frontend/src/types/react-slick.d.ts
  frontend/yarn.lock
Labels: :sparkles: FEAT, :nail_care: FRONTEND

#169 [Frontend] feat: 실시간 모달과 다른 모달 중복 처리
  frontend/src/components/IncidentHistory/IncidentDetailsModal/IncidentDetailsModal.tsx
  frontend/src/components/IncidentHistory/IncidentList/IncidentList.tsx
  frontend/src/components/Monitoring/AlertList/AlertItem.tsx
  frontend/src/components/Monitoring/AlertList/AlertList.tsx
  frontend/src/components/Monitoring/AlertModal/AlertModal.style.ts
  frontend/src/components/Monitoring/AlertModal/AlertModal.tsx
  frontend/src/components/Monitoring/AlertModal/CategorySelectModal.tsx
  frontend/src/components/Monitoring/AlertModal/SubmitModal.tsx
  frontend/src/components/Monitoring/InProgress/CategorySelectCard.tsx
  frontend/src/components/Monitoring/InProgress/InProgress.style.ts
  frontend/src/components/Monitoring/InProgress/IncidentCard.tsx
  frontend/src/components/Monitoring/InProgress/ResolvedCard.tsx
  frontend/src/components/RealTimeAlert/PushNotification/PushNotification.tsx
  frontend/src/components/RealTimeAlert/RealTimeAlert.tsx
  frontend/src/hooks/useIsModalOpen.ts
  frontend/src/hooks/useModal.ts
  frontend/src/hooks/useSSE.ts
  frontend/src/stores/modalStore.ts
Labels: :sparkles: FEAT, :nail_care: FRONTEND

#174 [Frontend ]fix: 로그인 타입 오류 해결
  frontend/src/components/Login/LoginCard/LoginForm.tsx
  frontend/src/stores/authStore.ts
Labels: :bug: BUG, :nail_care: FRONTEND

#177 [Frontend] fix: 통계 차트 에러 수정
  frontend/src/apis/ChartApi.ts
  frontend/src/assets/icons/logoBlue.svg
  frontend/src/assets/icons/logoWhite.svg
  frontend/src/components/Chart/BarCard/BarCard.tsx
  frontend/src/components/Chart/ClusteringCard/ClusterMap.tsx
  frontend/src/components/Chart/ClusteringCard/ClusteringCard.style.ts
  frontend/src/components/Chart/ClusteringCard/ClusteringCard.tsx
  frontend/src/components/Chart/ClusteringCard/StatsPanel/StatsPanel.tsx
  frontend/src/components/Chart/DoughnutCard/ChartFilter/ChartFilter.style.ts
  frontend/src/components/Chart/DoughnutCard/DoughnutCard.style.ts
  frontend/src/components/Chart/DoughnutCard/DoughnutCard.tsx
  frontend/src/components/Chart/LineCard/CalendarSection/CalendarSection.style.ts
  frontend/src/components/Chart/LineCard/LineCard.tsx
  frontend/src/components/Layout/Sidebar/Sidebar.style.ts
  frontend/src/components/Layout/Sidebar/Sidebar.tsx
  frontend/src/components/Login/LoginCard/FormSide.tsx
  frontend/src/components/Login/LoginCard/InfoSide.tsx
  frontend/src/components/Login/LoginCard/LoginCard.style.ts
  frontend/src/components/Monitoring/InfoSection/KakaoMap.tsx
  frontend/src/constants/EventCategory.ts
  frontend/src/constants/dropdownOptions.ts
  frontend/src/constants/labelList.ts
  frontend/src/stores/categoryIndexStore.ts
  frontend/src/types/chart.ts
  frontend/src/utils/categoryMapper.ts
  frontend/src/utils/dataFormatter.ts
Labels: :bug: BUG, :nail_care: FRONTEND

#183 [Backend] feat: SSE 알림에 presigned URL 로직 추가
  backend/src/main/java/com/example/backend/dashboard/service/CaseDetectService.java
Labels: :sparkles: FEAT, :rocket: BACKEND

#184 [AI] feat: 모델 서빙용 AI 서버 로직
  AI/ai-pipeline.py
Labels: :sparkles: FEAT, :rocket: BACKEND

#187 [Backend] feat: 알림리스트 조회 기준 추가
  backend/src/main/java/com/example/backend/dashboard/repository/DashboardRepository.java
  backend/src/main/java/com/example/backend/dashboard/service/DashboardService.java
Labels: :sparkles: FEAT, :rocket: BACKEND

#192 [Backend] merge: backend 브랜치 develop 머지
  .github/workflows/backend-ci.yml
  backend/build.gradle
  backend/src/main/java/com/example/backend/analysis/controller/CaseStatsController.java
  backend/src/main/java/com/example/backend/analysis/dto/DailyCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/HourlyCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/MapCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/dto/MonthlyCaseStatsResponse.java
  backend/src/main/java/com/example/backend/analysis/repository/CaseStatsCategoryRepository.java
  backend/src/main/java/com/example/backend/analysis/repository/CaseStatsOverviewRepository.java
  backend/src/main/java/com/example/backend/analysis/service/CaseStatsService.java
  backend/src/main/java/com/example/backend/common/GlobalExceptionHandler.java
  backend/src/main/java/com/example/backend/common/domain/CaseEntity.java
  backend/src/main/java/com/example/backend/common/domain/CaseStatsCategoryEntity.java
  backend/src/main/java/com/example/backend/config/S3Config.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseDetectRequest.java
  backend/src/main/java/com/example/backend/dashboard/dto/CaseDetectResponse.java
  backend/src/main/java/com/example/backend/dashboard/dto/CctvInfoResponse.java
  backend/src/main/java/com/example/backend/dashboard/dto/DashboardResponse.java
  backend/src/main/java/com/example/backend/dashboard/repository/DashboardRepository.java
  backend/src/main/java/com/example/backend/dashboard/service/CaseDetectService.java
  backend/src/main/java/com/example/backend/dashboard/service/CctvService.java
  backend/src/main/java/com/example/backend/dashboard/service/DashboardService.java
  backend/src/main/java/com/example/backend/search/dto/DetailResponse.java
  backend/src/main/java/com/example/backend/search/service/SearchService.java
  backend/src/main/java/com/example/backend/user/controller/UserController.java
  backend/src/main/java/com/example/backend/user/service/UserService.java
  media/Dockerfile
  media/docker-compose.yml
  media/nginx.conf
Labels: :rocket: BACKEND

#191 [Frontend] fix: 세션 오류, 사건기록조회 오류 수정, 디자인 전반적 수정
  frontend/index.html
  frontend/src/assets/icons/sidebarIcon.svg
  frontend/src/components/IncidentHistory/Filtering/CategoryDropDown/CategoryDropDown.style.ts
  frontend/src/components/IncidentHistory/Filtering/CategoryDropDown/CategoryDropDown.tsx
  frontend/src/components/IncidentHistory/Filtering/DateFiltering.tsx
  frontend/src/components/IncidentHistory/Filtering/Filtering.style.ts
  frontend/src/components/IncidentHistory/Filtering/Filtering.tsx
  frontend/src/components/IncidentHistory/Filtering/SearchBar.tsx
  frontend/src/components/IncidentHistory/Filtering/SortingDropDown.tsx
  frontend/src/components/IncidentHistory/IncidentDetailsModal/Information.tsx
  frontend/src/components/IncidentHistory/IncidentList/IncidentList.style.ts
  frontend/src/components/IncidentHistory/IncidentList/IncidentList.tsx
  frontend/src/components/Layout/Sidebar/Profile.tsx
  frontend/src/components/Layout/Sidebar/Sidebar.style.ts
  frontend/src/components/Layout/Sidebar/Sidebar.tsx
  frontend/src/components/Layout/Sidebar/SidebarButton.tsx
  frontend/src/components/Monitoring/AlertList/AlertList.style.ts
  frontend/src/components/Monitoring/AlertModal/AlertModal.style.ts
  frontend/src/components/Monitoring/AlertModal/AlertModal.tsx
  frontend/src/components/Monitoring/AlertModal/CategorySelectModal.tsx
  frontend/src/components/Monitoring/InProgress/CategorySelectCard.tsx
  frontend/src/components/Monitoring/InProgress/FeedbackCard.tsx
  frontend/src/components/Monitoring/InProgress/InProgress.style.ts
  frontend/src/components/Monitoring/InProgress/InProgress.tsx
  frontend/src/components/Monitoring/InProgress/IncidentCard.tsx
  frontend/src/components/common/VideoComponent/VideoComponent.tsx
  frontend/src/components/common/VideoComponent/style.ts
  frontend/src/constants/sidebarList.ts
  frontend/src/pages/IncidentHistoryPage/IncidentHistoryPage.style.ts
  frontend/src/routes/PrivateRoute.tsx
  frontend/src/stores/authStore.ts
  frontend/src/types/alert.ts
  frontend/src/types/incident.ts
  frontend/src/utils/categoryMapper.ts
Labels: :bug: BUG, :nail_care: FRONTEND

#199 [AI] merge: AI to Develop
  AI/ai-pipeline.py
Labels: :rocket: BACKEND
